* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, crimson, indigo);
}

fonts {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Trispace", sans-serif;
}

.page-container {
  margin: auto;
  background: linear-gradient(to bottom right, crimson, indigo);
  max-width: 1000px;
}

/* Header Title Nav */

header {
  margin: 0;
  padding: 1.75rem 0.75rem;
  display: flex;
}

h1 {
  font-family: "Grenze Gotisch", cursive;
  color: goldenrod;
  text-shadow: 2px 2px 3px black;
}

.subtitle {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 0.25rem;
}

nav {
  margin: auto;
  background: linear-gradient(indigo, crimson);
  justify-content: space-around;
  display: flex;
  padding: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.head-links {
  font-size: small;
  border: 1px solid crimson;
  padding: 0.5rem;
  background-color: goldenrod;
  color: crimson;
  font-weight: 600;
}

/* image and welcome text */

.introduction {
  border-top: 4px solid goldenrod;
}

img {
  object-fit: contain;
  /* border: 3px solid tomato; */
  max-width: 100%;
}

h2 {
  font-weight: 500;
}

.text-box-heading {
  color: goldenrod;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

p {
  margin: 0;
}

.text-box {
  margin: 0 1rem 1rem;
  color: white;
  text-indent: 1.5rem;
  font-style: italic;
}

/* Shop Settings */

.shop-header {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(45deg, crimson, indigo);
  color: goldenrod;
  padding: 0.5rem;
  border-top: 4px solid goldenrod;
  border-bottom: 4px solid goldenrod;
  text-shadow: none;
}

.shop-container {
  /* padding: 1rem 0; */
  background: linear-gradient(90deg, crimson, indigo);
}

.for-sale {
  background: linear-gradient(to bottom right, crimson, indigo);
  padding: 3rem 0;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
}

.shop-image {
  max-width: 90%;
  display: flex;
  align-self: center;
  border: 2px solid indigo;
}

.item-heading {
  max-width: 90%;
  color: goldenrod;
  margin: 0.5rem 2rem 0.25rem;
}

.item-text {
  margin-left: 3rem;
  color: white;
}

.top-buttons {
  display: flex;
  justify-content: center;
  /* margin: 0.5rem 0; */
  background: linear-gradient(crimson, indigo);
  color: goldenrod;
  margin-top: 2rem;
  padding: 0.5rem 0;
}

footer {
  padding: 2rem;
  text-align: center;
  color: gold;
  border: 2px dotted goldenrod;
}

@media screen and (min-width: 580px) {
  .page-container {
    border-right: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
  }

  .introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
  }

  img {
    width: 90%;
  }

  .shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .top-buttons {
    display: none;
  }
}
