* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
}

fonts {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Trispace", sans-serif;
}

.page-container {
  margin: auto;
  background-color: lavender;
  max-width: 1000px;
}

/* Header Title Nav */

header {
  margin: 0;
  padding: 0.75rem;
  display: flex;
}

h1 {
  font-family: "Grenze Gotisch", cursive;
  color: darkgoldenrod;
}

.subtitle {
  color: crimson;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 0.25rem;
}

nav {
  margin: auto;
  background-color: lavenderblush;
  justify-content: space-around;
  display: flex;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: goldenrod;
}

.head-links {
  font-size: small;
}

/* image and welcome text */

img {
  object-fit: contain;
  /* border: 3px solid tomato; */
  max-width: 100%;
}

h2 {
  font-weight: 500;
}

.text-box-heading {
  margin: 1rem;
}

p {
  margin: 0;
}

.text-box {
  margin: 0 2rem 1rem;
}

/* Shop Settings */

.shop-header {
  text-align: center;
  font-size: 2rem;
  background-color: lavenderblush;
  padding: 0.5rem;
  border-top: 4px solid goldenrod;
  border-bottom: 4px solid goldenrod;
}

.shop-container {
  /* padding: 1rem 0; */
  background-color: palegoldenrod;
}

.for-sale {
  background-color: lightgoldenrodyellow;
  padding: 1rem 0;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
}

.item-heading {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

.item-text {
  margin-left: 2rem;
}

.top-buttons {
  display: flex;
  justify-content: center;
  /* margin: 0.5rem 0; */
  background-color: palegoldenrod;
  padding: 0.5rem 0;
}

/* @media screen and (min-width: 480px) { */
/* img { */
/* object-fit: contain; */
/* } */
/* } */
